<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flask social</title>
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Twenty people</h1>
        <div class="paragraph">
            <p>This is a lightweight application called Twenty People Developed in Flask. It provides functionality to choose a person within the group stored in the database and display the following information about this person</p>
        </div>
        <div class="link">
            <a href="{{ url_for('profiles')}}"><button class = "expl">Explore!</button></a>
        </div>
    </body>
</html>
